<head>
<script>
    $(document).ready(function() {
        Materialize.updateTextFields();
    });
    $(document).ready(function() {

        $('select').material_select();
    });
</script>
  <style>
  h4 {
  color: #4db6ac;

  }
  </style>
</head>
<div id="signup-restaurant-page" class="row">

  <div class="col s6 z-depth-4 card-panel offset-s2" >
    <form method="post" action="/users" class="col s12">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <div class="row center">
      <h4>Send Request</h4>
      </div>
      <hr>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">person</i>
          <input  id="first_name" name="user[first_name]" type="text" class="validate" autofocus required>
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">

          <input id="last_name" name="user[last_name]" type="text" class="validate" required>
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12 ">
          <i class="mdi-action-lock-outline prefix material-icons prefix">account_box</i>
          <select id="position" name="user[position]" required>
            <option value="" disabled selected>Choose your position</option>
            <option value="1">Owner</option>
            <option value="2">Manager</option>
            <option value="3">General Staff</option>
            <option value="4">Other</option>
          </select>


        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">restaurant </i>
          <input  id="restaurant_name" name="user[restaurant_name]" type="text" class="validate" required>
          <label for="restaurant_name">Restaurant Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" name="user[email]" type="email" class="validate" required>
          <label for="email" >Email</label>

        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix large material-icons prefix">lock</i>
          <input id="password" name="user[password]" type="password" class="validate " required>
          <label for="password" >Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="telephone" data-error="invalid" data-success="valid" name="user[telephone]" type="tel" class="validate" placeholder="+94xxxxxxxxx" required>
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
      <i class="material-icons prefix ">location_on</i>

      <label for="address" >Address</label>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="input-field col s6 ">
          <i class="material-icons prefix"></i>
          <input id="add_line1"  name=user[add_line1] type="text" class="validate" required>
          <label for="add_line1" >Line 1 address</label>
        </div>
        <div class="input-field col s6">
          <input id="add_line2" name="user[add_line2]" type="text" class="validate" >
          <label for="add_line2" >Line 2 address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix"></i>
          <input id="city" type="text" name="user[city]" class="validate" required >
          <label for="city" >City</label>
        </div>
        <div class="input-field col s6">
          <input id="province" type="text" name="user[province]"  class="validate" required>
          <label for="province" >State/Province/Region</label>
        </div>
      </div>

      <div class="row center-align">
        <button class="btn waves-effect waves-light" type="submit" name="action">Send Request
          <i class="material-icons ">send</i>
        </button>
      </div>



      <input id="user_type" name="user[user_type]" type="hidden" value =1 class="validate">
    </form>
  </div>
</div>