
<head>

<style>.circle {
  line-height: 0;		/* remove line-height */
  display: inline-block;	/* circle wraps image */
  margin: 5px;
  border-radius: 50%;	/* relative value */
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
  transition: linear 0.25s;
}
.circle img {
  border-radius: 50%;	/* relative value for
				   adjustable image size */
}
.circle:hover {
  transition: ease-out 0.3s;
  transform: scale(0.8) rotate(20deg);
}

  </style>
</head>
<header>
  <ul id= "slide-out"  style="width:240px; margin-top:69px;" class="side-nav fixed">
    <li><div class="userView">
      <div class="background">
        <img src="http://materializecss.com/images/office.jpg">
      </div>
      <% d=Diner.find(session[:diner_id])%>

      <a class="circle" href="/diner/profile/change_pic"><%= image_tag d.avatar.url(:thumb) %></a>

      <a href="#!name"><span class="white-text name"><%= d.first_name%> &nbsp;<%= d.last_name%></span></a>
      <a href="#!email"><span class="white-text email"><%= d.user.email %></span></a>
    </div></li>
    <li><a href="/diner/home">Home</a></li>
    <li><a href="/diner/profile">My Profile</a></li>
    <li><a href="/diner/reservations">My Reservations</a></li>
    <li><a href="/diner/reservation_history">My Past Reservations</a></li>
    <li><a href="/diner/favourites">My Favourites</a></li>
    <li><a href="/diner/history">My History</a></li>

  </ul>

</header>