<header>
  <ul id= "slide-out"  style="width:240px; margin-top:69px;" class="side-nav fixed">
    <li><div class="userView">
      <div class="background">
        <img src="http://materializecss.com/images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="https://expertbeacon.com/sites/default/files/advice_for_men_on_selecting_your_online_dating_profile_photo.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="">Home</a></li>
    <li><a href="profile">My Profile</a></li>
    <li><a href="reservations">My Reservations</a></li>
    <li><a href="reservation_history">My Reservation History</a></li>
    <li><a href="reservation_history">My Favourites</a></li>

  </ul>

</header>