<%= render "search_bar" %>
<div class=" col s12 white" >
  <table class="responsive-table highlight centered ">
    <thead>
    <tr>
      <th data-field="restaurant">Restaurant</th>
      <th data-field="status" >Time Slots Available</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Cinnamon Grand</td>

      <td><a class="waves-effect waves-light btn green">8.00</a>
        <a class="waves-effect waves-light btn  red">8.30</a>
        <a class="waves-effect waves-light btn  green">9.00</a>
        <a class="waves-effect waves-light btn  green">9.30</a>
      </td>
    </tr>

    </tbody>
  </table>
</div>