
<div id="login-page" class="row">
  <div class="col s6 z-depth-4 card-panel offset-s3 transparent" >
    <form  method="post" action="login" >
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <div class="row">
      </div>
      <div class="row">

        <div class=" col s12 center-align ">
          <%= image_tag("logo_new.png",:width=>"120", :height=>"120",:alt=>"logo", :align=>"middle") %>

          <p class="center login-form-text center-align">Login</p>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix large material-icons prefix">perm_identity</i>

          <input id="email" name="session[email]" type="email" class="validate ">

          <label for="email" >Email</label>
        </div>
      </div>

      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix large material-icons prefix">lock</i>
          <input id="password" name="session[password]" type="password" class="validate ">
          <label for="password" >Password</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12 ">
          <i class="mdi-action-lock-outline prefix material-icons prefix">account_box</i>
          <select id="user_type" name="session[user_type]">
            <option value="" disabled selected>Choose your option</option>
            <option value="0">Diner</option>
            <option value="1">Restaurant</option>
            <option value="2">Admin</option>
          </select>

          <label for="user_type" >Choose option</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12  login-text">
          <input type="checkbox" id="remember-me" />
          <label for="remember-me" >Remember me</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action"  >Login
          <i class="material-icons ">send</i>
        </button>

      </div>
      <div class="row">
        <div class="input-field col s6 m6 l6">
          <label for="sign_up">Not a user?</label>
          <br>
          <br>

        </div>

      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card teal lighten-2">
            <div class="card-content white-text">
              <span class="card-title center">Restaurateur</span>
              <p>We love knowing about your unique business.Sign up with us to let us know about you and your restaurant below</p>
            </div>
            <div class="card-action center">
              <a href="signup_restaurant">Sign Up </a>

            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card teal lighten-2">
            <div class="card-content white-text">
              <span class="card-title center">Diner</span>


              <p>Make your next dining experience a better one. Sign up with us today to earn points on your visits and much more

              </p>
            </div>
            <div class="card-action center">
              <a href="signup_diner">Sign Up </a>

            </div>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>