
<head>

  <style>.circle {
    line-height: 0;		/* remove line-height */
    display: inline-block;	/* circle wraps image */
    margin: 5px;
    border-radius: 50%;	/* relative value */
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    transition: linear 0.25s;
  }
  .circle img {
    border-radius: 50%;	/* relative value for
				   adjustable image size */
  }
  .circle:hover {
    transition: ease-out 0.3s;
    transform: scale(0.8) rotate(20deg);
  }

  </style>
</head>
<header>
  <ul id= "slide-out"  style="width:240px; margin-top:69px;" class="side-nav fixed">
    <li><div class="userView">
      <div class="background">
        <img src="http://materializecss.com/images/office.jpg">
      </div>
      <% a=Admin.find(session[:admin_id])%>
      <a class="circle" href="/admin/profile/change_pic"><%= image_tag a.avatar.url(:thumb) %></a>

      <a href="#!name"><span class="white-text name"><%= a.first_name%> &nbsp;<%= a.last_name%></span></a>
      <a href="#!email"><span class="white-text email"><%= a.user.email %></span></a>
    </div></li>
    <li><a href="/admin/home">Home</a></li>
    <li><a href="/admin/profile">My Profile</a></li>
    <li><a href="/admin/view_requests">View Requests</a></li>
    <li><a href="/admin/payments">View Payments</a></li>


  </ul>

</header>