<header>
  <ul id= "slide-out"  style="width:240px; margin-top:69px;" class="side-nav fixed">
    <li><div class="userView">
      <div class="background">
        <img src="http://materializecss.com/images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="https://expertbeacon.com/sites/default/files/advice_for_men_on_selecting_your_online_dating_profile_photo.jpg"></a>
      <a href="#!name"><span class="white-text name">Tamasha Malepathirana</span></a>
      <a href="#!email"><span class="white-text email">tam@gmail.com</span></a>
    </div></li>
    <li><a href="/admin/home">Home</a></li>
    <li><a href="/admin/profile">My Profile</a></li>
    <li><a href="/admin/view_requests">View Requests</a></li>


  </ul>

</header>