<div class=" col s12" >
  <table class="responsive-table highlight centered">
    <thead>
    <tr>
      <th data-field="restaurant">Restaurant</th>
      <th data-field="status" >Status</th>
      <th data-field="action">Action</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Cinnamon Grand</td>
      <td>Pending</td>
      <td><a class="waves-effect waves-light btn green">Accept</a>
        <a class="waves-effect waves-light btn red">Reject</a></td>
    </tr>

    </tbody>
  </table>
</div>