<div class=" col s12" >
  <table class="responsive-table highlight centered">
    <thead>
    <tr>
      <th data-field="name">Name</th>
      <th data-field="date" >Date</th>
      <th data-field="time_slot">Time Slot</th>
      <th data-field="action" >Action</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Cinnamon Grand</td>
      <td>04/04/2016</td>
      <td>8.00pm</td>
      <td><a class="waves-effect waves-light btn red">Cancel</a>
        <a class="waves-effect waves-light btn green">On Time</a>
         <a class="waves-effect waves-light btn yelow">Delay</a>
        <a class="waves-effect waves-light btn black">No show</a></td>
    </tr>

    </tbody>
  </table>
</div>