
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hey <%= @restaurant.first_name %>!</h1>
<p>
  Your request for <%= @restaurant.restaurant_name %> has been accepted by TableLock.
</p>


<p>Please login through this link and edit the required information to obtain our services: <%= @url %>.</p>
<p>Thanks for joining with us and have a great day!
</p>
</body>
</html>
