
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to TableLock, <%= @restaurant.first_name %></h1>
<p>
  You have successfully sent a request for <%= @restaurant.restaurant_name %>

</p>
<p>
  Please wait until your request is processed. Our admin will get back to you once the processing is done.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
