<div class="col s12 m7">
  <div class="card horizontal">

    <div class="card-stacked">
      <div class="card-content">
        <label>About</label>
        <p></p>

      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn-medium">Modify</a>
        <a class="waves-effect waves-light btn-medium">Cancel</a>

      </div>

    </div>
  </div>
</div>
