<head>
  <style>
    label {font-size:20px;
      color: black}



  </style>
</head>
<form class="form">
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><i class="material-icons">info</i>About</div>
      <div class="collapsible-body"><input id="about" type="text" ></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">restaurant_menu</i>Dining Information</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="input-field col s6 disabled">
            <input id="dining_style" type="text" class="validate">
            <label for="dining_style">Dining Style</label>
          </div>
          <div class="input-field col s6 disabled">
            <input id="mobile" type="tel" class="validate">
            <label for="mobile">Phone Number</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="cuisines" type="text" class="validate">
            <label for="cuisines">Cuisines</label>
          </div>
          <div class="input-field col s6">
            <input id="website" type="url" class="validate">
            <label for="website">Web Site</label>
          </div>

        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="additonal" type="text" class="validate">
            <label for="additional">Additional</label>
          </div>
        </div>
        <label>Hours of Operation</label>
        <div class="row">

          <div class="input-field col s6">
            <input id="" type="text" class="validate">
            <label for="additional">Additional</label>
          </div>
        </div>
        <div class="row">

          <div class="input-field col s6">
            <input id="dresscode" type="text" class="validate">
            <label for="dresscode">Dress Code</label>
          </div>
        </div>
        <div class="row">

          <div class="input-field col s6">
            <input id="capacity" type="number" class="validate">
            <label for="capacity">Capacity per seating</label>
          </div>
        </div>
        <div class="row">

          <div class="input-field col s6">
            <input id="time" type="number" class="validate">
            <label for="time">Time per seating</label>
          </div>
        </div>











      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">local_offer</i>Offers</div>
      <div class="collapsible-body"> <input id="offers" type="text" class="validate"></div>
    </li>
  </ul>
</form>